# Node
node_modules/

# Build outputs
dist/
/*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.*

# Tests/coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Misc
.cache/
.next/
.svelte-kit/


